
.color-grey {
    color:#4d4d4d
}
  /* gallery */
  .title {
      position: relative;
      display: block;
      font-size: 80px;
      color: #4d4d4d;
      /* color: #fff; */
      line-height: 90px;
      letter-spacing: -4px;
    }
    .title.little {
        font-size: 53px;
        line-height: 67px;
        letter-spacing: -4px;
    }
    .title .row {
        perspective: 5000px;
    }

  .section-productos #main-social.show::after {
      display: none;
    }
  .section-productos #main-social.show::before, .section-detail #main-social.show::before, .section-customizador #main-social.show::before, .section-generic #main-social.show::before {
      height: 90px; margin-bottom: 20px;
    }

    #contenedor #items .text { 
        left: 0; 
    }
    #contenedor #items .line, #product-detail .line {
        position: absolute;
        top: 190px;
        left: 93px;
        height: 0;
        background: #ffbfb9;
        width: 4px;
        transition: all 1s .2s cubic-bezier(0.19, 1, 0.22, 1);
    }
    #contenedor #items.show .line, #product-detail.show .line {
        height: 400px;
    }
    #contenedor .products { 
        margin-top: 5rem; 
    }
	#contenedor .products .column:nth-child(1) { 
        margin-top: 0; 
    }
	#contenedor .products .column:nth-child(2) { 
        margin-top: 70px;
     }
	#contenedor .products .column:nth-child(3) {
         margin-top: -175px; 
        }
    #contenedor .products .column:nth-child(4) {
        margin-top: -30px;
    }


    #items {
         padding-top: 100px;
          z-index: 1; 
          overflow:  visible; padding-bottom: 100px;
        }
    /* .section-detail #items {z-index:11} */
    #items .text {
        position: relative;
        width: 40%;
        left: 0;
        top: 0;
        z-index: 5;
    }
	#items .text h2 br {
        display: none;
    }
    #items .categories {
        margin: 0 auto;
        margin-top: 30px;
    }
    #items .text .row:nth-child(2) { 
        margin-left: 15px; 
    }
	#items .button-wrap {
        text-align: center;
    }

    .products {
        position: relative;
        display: block;
        width: 100%;
    }
    .products .column {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: calc(25% - 41px);
        margin: 0 25px;
    }
    .products .column:nth-child(1) {
        margin-left: 0;margin-top: 50px;
    }
    .products .column:nth-child(2) {
        margin-top: 270px;
    }
    .products .column:nth-child(3) {
        margin-top: 350px;
    }
    .products .column:nth-child(4) {
        margin-right: 0;margin-top: -50px;
    }

    .product {position: relative;display: block;width: 100%;/*height: 500px; */padding-bottom: 130%;overflow:hidden;/* background: #fce9e7; */margin-bottom: 50px;cursor:  pointer;transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);-webkit-transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);-moz-transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);-ms-transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);-o-transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);} 
    .product .bg { position: absolute; top:0; left: 0; width: 100%; height: 0; transform: translateY(-100px) scale(1.1); background-size: cover; background-position: center; transition: height 1.5s cubic-bezier(0.19, 1, 0.22, 1), transform 3s cubic-bezier(0.19, 1, 0.22, 1); -webkit-transition: height 1.5s cubic-bezier(0.19, 1, 0.22, 1), transform 3s cubic-bezier(0.19, 1, 0.22, 1); -moz-transition: height 1.5s cubic-bezier(0.19, 1, 0.22, 1), transform 3s cubic-bezier(0.19, 1, 0.22, 1); -ms-transition: height 1.5s cubic-bezier(0.19, 1, 0.22, 1), transform 3s cubic-bezier(0.19, 1, 0.22, 1); -o-transition: height 1.5s cubic-bezier(0.19, 1, 0.22, 1), transform 3s cubic-bezier(0.19, 1, 0.22, 1); -webkit-transform: translateY(-100px) scale(1.1); -moz-transform: translateY(-100px) scale(1.1); -ms-transform: translateY(-100px) scale(1.1); -o-transform: translateY(-100px) scale(1.1); }
    .product a {position: absolute;top: 0;left: 0;width: 100%;height: calc(100% - 83px);z-index: 1;cursor:  pointer;}
    .products.show .product .bg {height: 100%; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); }
    .product .overlay {position: absolute;width: 100%;height: 100%;color: #ffe9e9;background: rgba(77, 77, 77, .9);transition: all .6s;overflow:  hidden;perspective: 5000px;opacity: 0;}
    .products.show .product:hover .overlay {opacity: 1;/* background: transparent; */}
    .product .overlay .inner {position: absolute;bottom: 0;left:0;width: 100%;padding: 30px;padding-bottom: 0;transform-origin: 50% 100%;perspective: 5000px;display: inline-block;transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);-webkit-transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);-moz-transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);-ms-transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);-o-transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);}
    .product .overlay .inner h4 {font-size: 34px;line-height: 40px;margin-bottom: 20px;transition: all .4s;opacity: 0;transform: translateY(20px);}
    .product .overlay .inner h4 span {font-size: 12px;transition: all .3s;font-family: 'Lato';display: block;vertical-align: middle;text-transform: uppercase;line-height: 14px;opacity: .5;}
    .products.show .product:hover .overlay .inner h4 {opacity: 1;transform: translateY(0);transition-delay: .2s;}
    .product .overlay hr {width: 0;border:none;border-bottom: solid 2px #ffe9e9;display: block;margin-top: 30px;margin-bottom: 40px;transition: all .4s;}
    .products.show .product:hover .overlay hr {transition-delay: .3s;width: 55px;}
    .product .overlay .price {font-size: 25px;font-weight:  bold;display: inline-block;transition: all .4s;opacity: 0;margin-bottom: 20px;display: block;transform: translateY(20px);}	
    .product .overlay .price.discount {margin-bottom: 5px;font-weight:  normal;}
    .product .overlay .price.discount span {opacity: .4; text-decoration: line-through}
    .products.show .product:hover .overlay .price {transition-delay: .4s;opacity: 1;transform: translateY(0);}
    .product .overlay .button-overlay {position: relative;bottom: 0;right: 0;width: calc(100% + 60px);font-size: 22px;cursor:  pointer;padding: 30px;padding-right: 0;transition: all .4s;opacity: 0;transform: translateY(20px);margin-left: -30px;z-index:  2;display: block;}
    .product .overlay .button-overlay:active i {transform:scale(.9) !important} 
    .products.show .product:hover .overlay .button-overlay {transition-delay: .5s;opacity: 1;transform: translateY(0);} 
    .product .overlay .button-overlay i {transition: all .4s;}
    .product .overlay .button-overlay:hover i, .product .overlay .button-overlay:hover span {color: #fff}
    .product .overlay .button-overlay span {font-size: 14px;transition: all .3s;font-family:  'Lato';display:  inline-block;vertical-align:  middle;text-transform:  uppercase;margin-left: 13px;letter-spacing: 1px;}
    .product .overlay .button-overlay:hover span {margin-left: 5px;}
    .product .overlay .button-overlay.sin-stock span {margin-left: 0;}
    .product .overlay .ver {position: absolute;bottom: 27px;right: 0;font-size: 14px;transition: all .3s;font-family: 'Lato';padding: 5px 30px;padding-right: 35px;border-left: solid 1px #fff;display: none;text-transform:  uppercase;}
    .product .overlay .ver:hover {}
    .product .overlay .button {display: block;margin: 0;opacity: 0;transform: translateY(20px);margin-left: 0;}
    .products.show .product:hover .overlay .button {transition-delay: .6s;opacity: 1;transform: translateY(0);}
    .product .overlay .button span {padding: 15px 0;width: 100%;display: block;text-align: center;}
    .products .product:hover .overlay .ribbon {transition-delay: .5s;opacity: 1;bottom: -6px;}

  
    @media screen and (max-width: 1440px) {
        #items {
             padding-top: 30px;
             }
        #items .text {
            /* top: 200px; */
            margin-left: 5rem;
        }
        .title {
            font-size: 65px;line-height:  78px;letter-spacing: -3px;
        }
    }
    @media screen and (max-width: 1250px) and (min-width: 1000px){
        .product .overlay .button-overlay, .product .overlay .button-overlay span {font-size:22px;}
        .product .overlay .button-overlay span {font-size:20px;}
    }
    @media screen and (max-width: 1050px){
        #contenedor #items .text { 
            left: 0; padding-top: 50px; 
        }
        #contenedor #items.show .line, #product-detail.show .line { 
            display: none;
         }
        #contenedor .products {
             margin-top: 0;
             }
        #items .text { 
            position: relative; 
            top: 0; 
            left: 0; 
            padding-left: 50px; 
            margin-bottom: 50px;
        }
	    #items .categories {
            margin: 0; 
            margin-top: 20px;
        }
        #items .bg-line { 
            display: none; 
        }
        #items { 
            padding-top: 50px; 
        }
        .product { width: 100%; float: left; padding-bottom: 40%; margin-bottom: 0; }
        .products { overflow:  hidden; transition: all 1s; opacity: 0; transform: translateY(50px);}
        .products.show {opacity: 1; transform: translateY(0);}
        .product .bg { width: 50%; }
        .product .overlay {width: 48%;opacity: 1;top: 20px;left: auto;right: 0;background: transparent;}
        .product .overlay .inner > *, .product .overlay .inner div .price { opacity: 1 !important; transform: translateY(0) !important; color: #4d4d4d; } 
        .products .product .overlay hr { position: absolute; bottom: 32px; border-width: 1px; width: 100% !important; }
        .product .overlay .inner { bottom: auto; top: 0; padding-top: 50px; }
        .product .overlay .button-overlay { padding-top: 20px; }
        .product:nth-child(2n + 2) .bg { margin-left: 50%; }
        .product:nth-child(2n + 2) .overlay { right: auto; left: 0; text-align:  right; }
        .product:nth-child(2n + 2) .overlay .button-overlay { padding-right: 30px; }
        .products .product:nth-child(2n + 2) .overlay hr { left: auto; right: 30px; }
        .product:last-child {margin-bottom: 50px;}
            .title {
            font-size: 55px;
            line-height:  70px;
            letter-spacing: -4px;
        }

	
    }
    @media screen and (max-width: 800px){
        #contenedor #items .text { 
            padding-right: 30px; 
            }
            #items .text {
                 padding-left: 30px; 
            }
            #items .text h2 br {
                display: block;
            }
            .title {
                font-size: 40px;
                line-height: 50px;
                text-align: center;
                letter-spacing: 1px;
            }
            .title.little { font-size: 35px; line-height:  43px; letter-spacing: -2px; 
            }
            .product a {height: calc(100% - 58px);}
            .product { padding-bottom: 300px; }
            .product .overlay .inner { top: 50%; transform: translateY(-50%); padding-top: 0; }
            .product .overlay .inner h4 { font-size: 28px; }
            .products .product .overlay .ribbon {transition-delay: .5s;opacity: 1;bottom: -6px;}            
    }
    @media screen and (max-width: 450px){
        #items {
            padding-bottom: 20px;
        }
	    #items .text {
            padding-left: 30px;
            padding-right: 30px;
        }
        .product:nth-child(2n + 2) .overlay .button-overlay {padding-right: 0;}
        .product .bg {width: 75%;position: relative;height: 200px;margin: 0 !important;transform: translateY(0);-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);margin-left: 30px !important;}
        .product {padding-bottom: 30px;margin-bottom: 5px !important;/* border-bottom: solid 1px pink; */}
        .products.show .product .bg {height: 350px;}
        .product .overlay {position: relative;width: calc(100% - 100px);background: #fff;top: 0;margin-left: 70px;margin-top: -40px;box-shadow:  0 0 50px rgba(0,0,0,.05);}
        .product .overlay .inner h4 {font-size: 24px;line-height:  24px;}
        .product .overlay .button-overlay i {font-size: 16px;}
        .product .overlay .button-overlay span {font-size: 11px; margin-left: 0}
        .product .overlay .inner {top: 0;transform: translateY(0);position: relative;padding: 30px;padding-bottom: 0;background: #fff;text-align:  left;}
        .products .product .overlay hr { display: none; }
        .product .overlay .button-overlay {padding-top: 15px;padding-bottom: 18px;/* border-top: solid 1px #ffbeb9; */background: transparent;margin-top: 35px;margin-left: 0;width: 100%;padding-left: 0;}
        .product .overlay .button-overlay:hover i, .product .overlay .button-overlay:hover span {color: inherit}
        .product .overlay .button-overlay::before {content:''; position: absolute; top: 0; left: 0; width: 40px; background: #ffbeb9; height: 1px;}
        .product:last-child { margin-bottom: 50px !important; }
        
        .title {
            font-size: 35px;
            line-height:  45px;
            }
        .title.little { 
            font-size: 30px; 
            line-height: 40px; 
            letter-spacing: -1px;
         }

    }
		
/* rect */

#contenedor #items .bg-rectangle {
    position: absolute;
    width: 530px; 
    height: 29%;
    left: 0; 
    
    right: auto;  
    background: #e7e7e7; 
    width: 30%; 
    --animation-duration: 5s;
    /* transition: all 1s .2s cubic-bezier(0.19, 1, 0.22, 1); */
  }
  
  
  @media screen and (max-width: 1050px){
    #contenedor #items .bg-rectangle {
      width: 530px; 
      height: 25%;
      width: 30%; 
    }
  }
  @media screen and (max-width: 800px){
    #contenedor #items .bg-rectangle {
      width: 530px; 
      height: 20%;
      width: 50%; 
    }
  }
  @media screen and (max-width: 450px){
    #contenedor #items .bg-rectangle {
      width: 500px; 
      height: 18%;
      width: 60%; 
    }
  }
  
   /* search */
  input[type=text2] {
    /* width: 200px; */
    color: white;
    background-color: rgb(56, 55, 55);
  }
  input[type=text2]:focus {
    color: white;
    background-color: rgb(56, 55, 55);
  }
   input[type=text2]:focus {
    color: white;
    background-color: rgb(56, 55, 55);
  }
  input[type=text2]::placeholder {
    color: white;
  }
  input[type=text2]:-ms-input-placeholder {
    color: white;
  }
  input[type=text2]::-ms-input-placeholder {
    color: white;
  }

  @media screen and (max-width: 800px){
    input[type=text2] {
        width: 150%;
        color: white;
        background-color: rgb(56, 55, 55);
      }
  }