@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body {
	/* font-family: 'Kaushan Script', cursive; */
}

.div-carousel {
	background-image: linear-gradient(-75deg, #e3ddd9 50%, #ffffff 50%);
}

#mainNav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #212529;
}

#mainNav .navbar-toggler {
	/* padding: 0.2rem; */
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 0.75rem;
	color: #fff;
	text-transform: uppercase;
	border: 0;
}

#mainNav .navbar-brand {
	color: #fed136;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	letter-spacing: 0.0625em;
	text-transform: uppercase;
}

#mainNav .navbar-brand img {
	height: 1.5rem;
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 0.95rem;
	color: #fff;
	letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
	color: #fed136;
}

@media (min-width: 992px) {
	#mainNav {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		border: none;
		background-color: transparent;
		transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
	}
	#mainNav .navbar-brand {
		font-size: 1.5em;
		transition: font-size 0.3s ease-in-out;
	}
	#mainNav .navbar-brand img {
		height: 2rem;
		transition: height 0.3s ease-in-out;
	}
	#mainNav.navbar-shrink {
		padding-top: 1rem;
		padding-bottom: 1rem;
		background: url(../img/bg-nav.png);
	}
	#mainNav.navbar-shrink .navbar-brand {
		font-size: 1.25em;
	}
	#mainNav.navbar-shrink .navbar-brand svg,
	#mainNav.navbar-shrink .navbar-brand img {
		height: 1.5rem;
	}
	#mainNav .navbar-nav .nav-item {
		margin-right: 1rem;
	}
	#mainNav .navbar-nav .nav-item:last-child {
		margin-right: 0;
	}
}

header.masthead {
	padding-top: 10.5rem;
	padding-bottom: 6rem;
	text-align: center;
	color: #fff;
	background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url("../img/bg4.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

header.masthead .masthead-subheading {
	font-size: 1.5rem;
	font-style: italic;
	line-height: 1.5rem;
	margin-bottom: 25px;
	/* font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

header.masthead .masthead-heading {
	font-size: 3.25rem;
	font-weight: 700;
	line-height: 3.25rem;
	margin-bottom: 2rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
	header.masthead {
		padding-top: 17rem;
		padding-bottom: 12.5rem;
	}
	header.masthead .masthead-subheading {
		font-size: 2.25rem;
		font-style: italic;
		line-height: 2.25rem;
		margin-bottom: 2rem;
	}
	header.masthead .masthead-heading {
		font-size: 5.5rem;
		font-weight: 700;
		line-height: 4.5rem;
		margin-bottom: 4rem;
	}
}


/* Slider */


/* medium - display 2  */

@media (min-width: 768px) {
	.carousel-inner .carousel-item-right.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(50%);
	}
	.carousel-inner .carousel-item-left.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-50%);
	}
}


/* large - display 3 */

@media (min-width: 992px) {
	.carousel-inner .carousel-item-right.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(33%);
	}
	.carousel-inner .carousel-item-left.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-33%);
	}
}

@media (max-width: 768px) {
	.carousel-inner .carousel-item>div {
		display: none;
	}
	.carousel-inner .carousel-item .box {
		position: absolute;
		top: 55%;
		left: 10%;
		background-color: rgba(255, 255, 255, 0.5);
		padding: 0.5rem;
		width: 80%;
		color: #000;
		border-radius: 10px;
	}
	.carousel-inner .carousel-item .boton {
		background: url(../img/bg-button.jpg);
		border: none;
		border-radius: 0.31em;
		padding: 0.13em;
		margin-left: 10%;
		color: #fff;
		margin-right: 1.25em;
		cursor: pointer;
		transition: .3s ease all;
		font-size: 1.12em;
	}
	.carousel-inner .carousel-item>div:first-child {
		display: block;
	}
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
	transform: translateX(0);
}

.carousel-item .box {
	position: absolute;
	top: 60%;
	left: 10%;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 1rem;
	width: 80%;
	color: #000;
	border-radius: 10px;
}

.precio {
	color: red;
}


/* Botones */

.boton {
	background: url(../img/bg-button.jpg);
	border: none;
	border-radius: 0.31em;
	padding: 0.53em;
	margin-left: 10%;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.boton:hover {
	background: url(../img/bg-button.jpg);
	opacity: .8;
	color: #fff;
}

.boton i {
	margin-right: 0.5em;
}

.boton-accion {
	background: url(../img/bg-button.jpg);
	border: none;
	border-radius: 0.31em;
	padding: 0.63em;
	left: 0;
	color: #fff;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 0.5em;
	align-items: initial;
	display: inline-block;
}

.boton-accion:hover {
	background: url(../img/bg-button.jpg);
	opacity: .8;
	background: #fff;
	color: #000;
}


/* Galeria */